.bg-site-primary {
  background-color: #02073f;
}

.text-color-site-primary {
  color: #02073f;
}

.btn-rounded {
  border-radius: 50px;
}

.page-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #02073f !important;
  border-radius: .25rem;
  color: #fff;
}

.brochure-download span {
  color: #064160;
}

.brochure-download button.download-btn {
  border-radius: 50px;
}

.brochure-download button.download-btn a {
  color: #fff;
}

.brand-btn {
  overflow: hidden;
}

.brand-btn::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 0;
}

.brand-btn:hover:after {
  height: 100%;
  width: 135%;
}

.side-form .list-group button h4 {
  text-transform: uppercase;
  font-weight: bolder;
}

.side-form .list-group .border input:focus {
  outline: none;
}

.side-form .list-group .border .borderless {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.side-form .list-group .border textarea:focus,
.side-form .list-group .border textarea.form-control:focus,
.side-form .list-group .border input.form-control:focus,
.side-form .list-group .border input[type=text]:focus,
.side-form .list-group .border input[type=password]:focus,
.side-form .list-group .border input[type=email]:focus,
.side-form .list-group .border input[type=number]:focus,
.side-form .list-group .border [type=text].form-control:focus,
.side-form .list-group .border [type=password].form-control:focus,
.side-form .list-group .border [type=email].form-control:focus,
.side-form .list-group .border [type=tel].form-control:focus,
.side-form .list-group .border [contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
          box-shadow: inset 0 -1px 0 #ddd;
}

.side-form .list-group .border .phone select {
  -webkit-box-flex: 1;
      -ms-flex: 1 40%;
          flex: 1 40%;
}

.side-form .list-group .border button {
  border: 2px solid #02073f !important;
}

footer {
  background-color: #224151;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #668A9D;
}

footer .footer-brand {
  font-size: 18px;
}

footer h3 {
  margin-bottom: 12px;
  font-weight: bold;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 8px;
}

footer .social-handles-footer span {
  margin-right: 8px;
}

footer .social-handles-footer span i {
  color: #fff;
  font-size: 24px;
}

footer .social-handles-footer span i:hover {
  color: #fea900;
  cursor: pointer;
}

footer .sub-footer {
  background-color: #E1DEDE;
  color: #000;
}

.service-image img {
  width: 100%;
  position: relative;
}

.service-image .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #02073f;
  opacity: 0.5;
}

.service-image .overtext {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
}

.service-image .overtext h4 {
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}

.service-description {
  font-weight: 400;
  text-align: justify;
  font-size: 24px;
}

.service-description .service-exerpt button a {
  color: #fff;
}

.bg-site-primary {
  background-color: #02073f;
}

.text-color-site-primary {
  color: #02073f;
}

.btn-rounded {
  border-radius: 50px;
}

.page-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #02073f !important;
  border-radius: .25rem;
  color: #fff;
}

.brochure-download span {
  color: #064160;
}

.brochure-download button.download-btn {
  border-radius: 50px;
}

.brochure-download button.download-btn a {
  color: #fff;
}

.brand-btn {
  overflow: hidden;
}

.brand-btn::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 0;
}

.brand-btn:hover:after {
  height: 100%;
  width: 135%;
}

.side-form .list-group button h4 {
  text-transform: uppercase;
  font-weight: bolder;
}

.side-form .list-group .border input:focus {
  outline: none;
}

.side-form .list-group .border .borderless {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.side-form .list-group .border textarea:focus,
.side-form .list-group .border textarea.form-control:focus,
.side-form .list-group .border input.form-control:focus,
.side-form .list-group .border input[type=text]:focus,
.side-form .list-group .border input[type=password]:focus,
.side-form .list-group .border input[type=email]:focus,
.side-form .list-group .border input[type=number]:focus,
.side-form .list-group .border [type=text].form-control:focus,
.side-form .list-group .border [type=password].form-control:focus,
.side-form .list-group .border [type=email].form-control:focus,
.side-form .list-group .border [type=tel].form-control:focus,
.side-form .list-group .border [contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
          box-shadow: inset 0 -1px 0 #ddd;
}

.side-form .list-group .border .phone select {
  -webkit-box-flex: 1;
      -ms-flex: 1 40%;
          flex: 1 40%;
}

.side-form .list-group .border button {
  border: 2px solid #02073f !important;
}

footer {
  background-color: #224151;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #668A9D;
}

footer .footer-brand {
  font-size: 18px;
}

footer h3 {
  margin-bottom: 12px;
  font-weight: bold;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 8px;
}

footer .social-handles-footer span {
  margin-right: 8px;
}

footer .social-handles-footer span i {
  color: #fff;
  font-size: 24px;
}

footer .social-handles-footer span i:hover {
  color: #fea900;
  cursor: pointer;
}

footer .sub-footer {
  background-color: #E1DEDE;
  color: #000;
}

.home-form img {
  position: relative;
  width: 100%;
}

.home-form .side-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-form .side-overlay .flex-wrapper {
  border: 2px solid #064160;
  background-color: #fff;
  opacity: 0.8;
}

.home-form .side-overlay .flex-wrapper h4 {
  color: #793698;
  font-weight: 700;
}

.home-form .side-overlay .flex-wrapper p {
  font-weight: 500;
}

.home-form .home-page-form {
  background-color: #668A9D;
}

.home-form .home-page-form h5 {
  font-weight: bold;
  color: #793698;
}

.abroad-form {
  background-color: #668A9D;
}

.abroad-form .jumbotron {
  color: #542A43;
}

.abroad-form .jumbotron h3 {
  font-weight: bold;
}

.abroad-form .country-width-limiter {
  width: 140px;
}
/*# sourceMappingURL=servicesPage.css.map */